<h1 class="ctfield">Articulos</h1>
<div class="container-fluid">
	<div class="row rejilla">
		<%= render @articles %>
		<div class="zonau_pagination space_pagination col-md-12">
			<%= will_paginate @articles, previous_label: "Anterior", next_label: "Siguiente" , :page_links => false%>
		</div>
	</div>
</div>
