<div class="container-fluid">
	<div class="row">
		<%= render @articles %>
	</div>
	<div class="row">
		<div class="zonau_pagination space_pagination center-xs">
			<%= will_paginate @articles, previous_label: "Anterior", next_label: "Siguiente" , :page_links => false%>
		</div>
		<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

		<input type="filepicker" data-fp-apikey="YOUR_API_KEY"
		onchange="alert(event.fpfile.url)">
	</div>
</div>
