<div class="container-fluid">
	<div class="row rejilla">
		<%= render @articles %>
	</div>
	<div class="row rejilla">
		<div class="zonau_pagination space_pagination center-xs">
			<%= will_paginate @articles, previous_label: "Anterior", next_label: "Siguiente" , :page_links => false%>
		</div>
	</div>
</div>
