<h1 class="tfield ctfield">Mis articulos</h1>
<div class="container-fluid">
	<div class="row rejilla">
		<div class="field bottom-space">
				<% @current_user.articles.each do |article| %>
				<h1 class="col-xs-12"><%= link_to article.title, article %></h1>
					<div class="bottom-space">
						<div class="col-xs-12"><%= truncate(article.body, length:100) %></div> <div class="col-xs-12 top-space">
			      <%= link_to "Editar", "articles/#{article.id}/edit", method: :get, class:"blue"%>
			      <% if article.may_publish? %>
			      - <%= link_to "Publicar", "articles/#{article.id}/publish", method: :put, class:"green"%>
			      <%end%></div>
				<%end%>
			</div>
		</div>
		</div>
	</div>
</div>
